@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
  --dark-color: rgb(6, 28, 36);
  --light-color: rgb(175, 189, 197);
  --primary-color: var(--light-color);
  --secondary-color: var(--dark-color);

  --purple: #4c0099;
  --green: #79fc1d;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 10px;
  user-select: none; /* TEMP */
}
body {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);

  transition: background-color ease-in 0.5s, color ease-in 0.5s;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.header {
  /* height: 10vh; */
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.top-nav {
  height: 100%;
  width: 50%;
  color: var(--primary-color);
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 5rem;
}
.top-nav__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.top-nav__list__item {
  font-size: 2rem;
  cursor: pointer;
}

/* DARK MODE*/
.dark-mode {
  margin: 0 1rem;
  position: relative;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  width: 6rem;
  height: 3rem;
  border-radius: 2rem;
  transition: all ease-in 0.5s;
}
.dark-mode__checkbox {
  display: none;
}
.check::before {
  content: '';
  height: 2.9rem;
  width: 2.9rem;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all ease-in 0.5s;
}
.dark-mode__checkbox:checked + .check::before {
  left: 3rem;
}
/* dropdown menu */
.dropdown {
  position: relative;
}
.dropdown__btn {
  border: none;
  background: none;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
}
.top-nav__list__item:hover,
.dropdown__btn:hover,
.dropdown.dropdown--active .dropdown__btn {
  color: var(--green);
}
.dropdown__menu {
  background: white;
  min-width: 15rem;
  color: var(--dark-color);
  position: absolute;
  left: 0;
  top: calc(100% + 1rem);
  font-size: 1.8rem;
  padding: 2rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  transform: translateY(-2rem);
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.dropdown__menu__arrow {
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  background: white;
  left: 1rem;
  bottom: calc(100% - 0.5rem);
  transform: rotate(45deg);
}
.dropdown.dropdown--active > .dropdown__btn + .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown__menu__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dropdown__menu__content__link:hover {
  color: var(--green);
}
/* mobile menu */
.top-nav__toggle-btn {
  cursor: pointer;
  display: block;
  position: relative;
  bottom: 0.75rem;
  height: 4rem;
  width: 4rem;
  border: none;
  background: none;
  color: var(--primary-color);
  font-size: 4rem;
  display: none;
}

@media (max-width: 786px) {
  .top-nav {
  }
  .top-nav__list {
    flex-direction: column;
  }
  .top-nav__toggle-btn {
    display: block;
  }
}
