@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
  --dark-color: rgb(6, 28, 36);
  --light-color: rgb(175, 189, 197);
  --primary-color: var(--light-color);
  --secondary-color: var(--dark-color);

  --purple: #4c0099;
  --green: #79fc1d;
}
html {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 10px;
  user-select: none; /* TEMP */
}
body {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color ease-in 0.5s, color ease-in 0.5s;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* DARK MODE*/
.dark-mode {
  margin: 0 1rem;
  position: relative;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  width: 6rem;
  height: 3rem;
  border-radius: 2rem;
  transition: all ease-in 0.5s;
}
.dark-mode__checkbox {
  display: none;
}
.check::before {
  content: '';
  height: 2.9rem;
  width: 2.9rem;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all ease-in 0.5s;
}
.dark-mode__checkbox:checked + .check::before {
  left: 3rem;
}
/* dropdown menu */
.dropdown {
  position: relative;
}
.dropdown__btn {
  border: none;
  background: none;
  font-family: inherit;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--primary-color);
}
.top-nav__list__item:hover,
.dropdown__btn:hover,
.dropdown.dropdown--active .dropdown__btn {
  color: var(--green);
}
.dropdown__menu {
  z-index: 100;
  background: white;
  min-width: 15rem;
  color: var(--dark-color);
  position: absolute;
  left: 0;
  top: calc(100% + 1rem);
  font-size: 1.8rem;
  padding: 2rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  transform: translateY(-2rem);
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.dropdown__menu__arrow {
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  background: white;
  left: 1rem;
  bottom: calc(100% - 0.5rem);
  transform: rotate(45deg);
}
.dropdown.dropdown--active > .dropdown__btn + .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown__menu__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dropdown__menu__content__link {
  display: block;
  padding: 0 0.5rem;
  text-decoration: none;
}
.dropdown__menu__content__link:visited {
  color: var(--secondary-color);
}
.dropdown__menu__content__link:hover {
  color: var(--green);
}
/* mobile menu */
.top-nav {
  width: inherit;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.top-nav__logo {
  font-size: 6rem;
  margin: 0 2rem;
}
.top-nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav__links__list {
  list-style: none;
  display: flex;
}
.top-nav__links__list__item {
  font-size: 2.5rem;
  padding: 0 0.5rem;
}
.top-nav__links__list__item:hover {
  color: var(--green);
}
.top-nav__toggle-btn {
  display: block;
  font-size: 4rem;
  border: none;
  background: none;
  color: var(--primary-color);
  display: none;
  cursor: pointer;
  position: relative;
  bottom: 0.5rem;
}
.top-nav__options {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* client form validation */
.form {
  max-width: 40rem;
  background: linear-gradient(
    45deg,
    rgb(122, 236, 122) 20%,
    rgb(139, 218, 201) 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid var(--dark-color);
}
.form__header {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 2px solid var(--dark-color);
}
.form__header__headings {
  padding: 2rem 0 1rem;
}
.form__body {
  width: 30rem;
  padding: 2rem;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field__input {
  padding: 0.5rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: var(--dark-color);
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  background: #fff;
}
.form__field__input:focus {
  transform: scale(1.05);
}
.form__field__icon {
  position: absolute;
  font-size: 3rem;
  top: 2.2rem;
  right: 0.5rem;
  display: none;
}
.form__field__error {
  font-size: 1.3rem;
  color: rgb(179, 58, 58);
  display: none;
}
.form__btn {
  display: block;
  border: none;
  padding: 0.5rem 2rem;
  background: var(--dark-color);
  color: var(--light-color);
  font-size: 2rem;
  border-radius: 1rem;
  margin: 2rem auto 0;
}

@media (max-width: 786px) {
  .top-nav__toggle-btn {
    display: flex;
  }
  .top-nav__links {
    width: inherit;
  }
  .top-nav__links {
    align-items: flex-start;
    flex-direction: column;
  }
  .top-nav {
    align-items: flex-start;
  }
  .top-nav__links__list {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .top-nav__options {
    margin-top: 2rem;
  }
  .top-nav__links__list.active-toggle {
    display: flex;
  }
  .dropdown__menu {
    left: 60%;
    top: calc(100% - 2.7rem);
  }
  .dropdown__menu__arrow {
    left: -0.5rem;
    bottom: calc(100% - 2rem);
  }
}
